<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.apple.dt.unit.singleViewApplicationCustom</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>com.apple.dt.unit.sceneLifecycleApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a single view. It provides a view controller to manage the view, and a storyboard or nib file that contains the view.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>NameOfInitialFileForEditor</key>
	<string>ContentView.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>ViewController.h:comments</string>
						<string>ViewController.h:imports:importCocoa</string>
						<string>ViewController.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>ViewController.m:comments</string>
						<string>ViewController.m:imports:importHeader:ViewController.h</string>
						<string>ViewController.m:extension</string>
						<string>ViewController.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>ViewController.m:implementation:methods:viewDidLoad:super</string>
						<string>Info.plist:UIApplicationSceneManifest:UISceneStoryboardFile</string>
						<string>Base.lproj/Main.storyboard</string>
					</array>
					<key>Definitions</key>
					<dict>
						<key>Base.lproj/Main.storyboard</key>
						<dict>
							<key>Path</key>
							<string>Main.storyboard</string>
							<key>SortOrder</key>
							<integer>98</integer>
						</dict>
					</dict>
					<key>Targets</key>
					<array>
						<dict>
							<key>SharedSettings</key>
							<dict>
								<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
								<string>Main</string>
							</dict>
						</dict>
					</array>
				</dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>Storyboard</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Application/AppDelegate.swift</string>
							<string>Application/Config/AppConfigFile.swift</string>
							<string>Application/Config/AppENVConfig.plist</string>
							<string>Common/NetworkLayer/AppNetRequest.swift</string>
							<string>Common/UIComponents/AppCollectionViewCell.swift</string>
							<string>Common/Utils/AppCommonUtil.swift</string>
							<string>Common/Utils/AppENVUtil.swift</string>
							<string>Common/Utils/AppMemoryManager.swift</string>
							<string>Modules/Main/Model/AppMainModel.swift</string>
							<string>Modules/Main/View/Controller/AppBaseViewController.swift</string>
							<string>Modules/Main/View/Controller/AppTabViewController.swift</string>
							<string>Modules/Main/View/View/AppTabBar.swift</string>
							<string>Modules/Main/ViewModel/AppMainViewModel.swift</string>
							<string>Resource/Images/icon_detail_back@2x.png</string>
							<string>Resource/SupportingFiles/Templates.entitlements</string>
							<string>Vendors/Classess/AppVendor.swift</string>
							<string>Vendors/Frameworks/AppFramework.swift</string>
							<string>Info.plist</string>
							<string>Base.lproj/Main.storyboard</string>
							<string>.gitignore</string>
							<string>CHANGELOG.md</string>
							<string>ScriptTool/rules.swiftformat</string>
							<string>ScriptTool/.swiftformat</string>
							<string>README.md</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Application/AppDelegate.swift</key>
							<dict>
								<key>Path</key>
								<string>Application/AppDelegate.swift</string>
								<key>Group</key>
								<string>Application</string>
							</dict>
							<key>Application/Config/AppConfigFile.swift</key>
							<dict>
								<key>Path</key>
								<string>Application/Config/AppConfigFile.swift</string>
								<key>Group</key>
								<string>Application/Config</string>
							</dict>
							<key>Application/Config/AppENVConfig.plist</key>
							<dict>
								<key>Path</key>
								<string>Application/Config/AppENVConfig.plist</string>
								<key>Group</key>
								<string>Application/Config</string>
							</dict>
							<key>Common/NetworkLayer/AppNetRequest.swift</key>
							<dict>
								<key>Path</key>
								<string>Common/NetworkLayer/AppNetRequest.swift</string>
								<key>Group</key>
								<string>Common/NetworkLayer</string>
							</dict>
							<key>Common/UIComponents/AppCollectionViewCell.swift</key>
							<dict>
								<key>Path</key>
								<string>Common/UIComponents/AppCollectionViewCell.swift</string>
								<key>Group</key>
								<string>Common/UIComponents</string>
							</dict>
							<key>Common/Utils/AppCommonUtil.swift</key>
							<dict>
								<key>Path</key>
								<string>Common/Utils/AppCommonUtil.swift</string>
								<key>Group</key>
								<string>Common/Utils</string>
							</dict>
							<key>Common/Utils/AppENVUtil.swift</key>
							<dict>
								<key>Path</key>
								<string>Common/Utils/AppENVUtil.swift</string>
								<key>Group</key>
								<string>Common/Utils</string>
							</dict>
							<key>Common/Utils/AppMemoryManager.swift</key>
							<dict>
								<key>Path</key>
								<string>Common/Utils/AppMemoryManager.swift</string>
								<key>Group</key>
								<string>Common/Utils</string>
							</dict>
							<key>Modules/Main/Model/AppMainModel.swift</key>
							<dict>
								<key>Path</key>
								<string>Modules/Main/Model/AppMainModel.swift</string>
								<key>Group</key>
								<string>Modules/Main/Model</string>
							</dict>
							<key>Modules/Main/View/Controller/AppBaseViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Modules/Main/View/Controller/AppBaseViewController.swift</string>
								<key>Group</key>
								<string>Modules/Main/View/Controller</string>
							</dict>
							<key>Modules/Main/View/Controller/AppTabViewController.swift</key>
							<dict>
								<key>Path</key>
								<string>Modules/Main/View/Controller/AppTabViewController.swift</string>
								<key>Group</key>
								<string>Modules/Main/View/Controller</string>
							</dict>
							<key>Modules/Main/View/View/AppTabBar.swift</key>
							<dict>
								<key>Path</key>
								<string>Modules/Main/View/View/AppTabBar.swift</string>
								<key>Group</key>
								<string>Modules/Main/View/View</string>
							</dict>
							<key>Modules/Main/ViewModel/AppMainViewModel.swift</key>
							<dict>
								<key>Path</key>
								<string>Modules/Main/ViewModel/AppMainViewModel.swift</string>
								<key>Group</key>
								<string>Modules/Main/ViewModel</string>
							</dict>
							<key>Resource/Images/icon_detail_back@2x.png</key>
							<dict>
								<key>Path</key>
								<string>Resource/Images/icon_detail_back@2x.png</string>
								<key>Group</key>
								<string>Resource/Images</string>
							</dict>
							<key>Resource/SupportingFiles/Templates.entitlements</key>
							<dict>
								<key>Path</key>
								<string>Resource/SupportingFiles/Templates.entitlements</string>
								<key>Group</key>
								<string>Resource/SupportingFiles</string>
							</dict>
							<key>Vendors/Classess/AppVendor.swift</key>
							<dict>
								<key>Path</key>
								<string>Vendors/Classess/AppVendor.swift</string>
								<key>Group</key>
								<string>Vendors/Classess</string>
							</dict>
							<key>Vendors/Frameworks/AppFramework.swift</key>
							<dict>
								<key>Path</key>
								<string>Vendors/Frameworks/AppFramework.swift</string>
								<key>Group</key>
								<string>Vendors/Frameworks</string>
							</dict>
							<key>ScriptTool/rules.swiftformat</key>
							<dict>
								<key>Path</key>
								<string>ScriptTool/rules.swiftformat</string>
								<key>Group</key>
								<string>ScriptTool</string>
							</dict>
							<key>ScriptTool/.swiftformat</key>
							<dict>
								<key>Path</key>
								<string>ScriptTool/.swiftformat</string>
								<key>Group</key>
								<string>ScriptTool</string>
							</dict>
							<key>Base.lproj/Main.storyboard</key>
							<dict>
								<key>Path</key>
								<string>Main.storyboard</string>
								<key>SortOrder</key>
								<integer>98</integer>
							</dict>
							<key>.gitignore</key>
							<dict>
								<key>Path</key>
								<string>.gitignore</string>
							</dict>
							<key>CHANGELOG.md</key>
							<dict>
								<key>Path</key>
								<string>CHANGELOG.md</string>
							</dict>
							<key>README.md</key>
							<dict>
								<key>Path</key>
								<string>README.md</string>
							</dict>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>INFOPLIST_KEY_UIMainStoryboardFile</key>
									<string>Main</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
							<key>appLifecycle</key>
							<string>Cocoa</string>
						</dict>
						<key>Nodes</key>
						<array>
							<string>Preview Content/Preview Assets.xcassets</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>*:imports:importSwiftUI</key>
							<string>import SwiftUI</string>
						</dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>ENABLE_PREVIEWS</key>
									<string>YES</string>
									<key>DEVELOPMENT_ASSET_PATHS</key>
									<string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
								</dict>
							</dict>
						</array>
					</dict>
					<dict>
						<key>RequiredOptions</key>
						<dict>
							<key>userInterface</key>
							<string>SwiftUI</string>
							<key>coreData</key>
							<string>true</string>
							<key>appLifecycle</key>
							<string>Cocoa</string>
						</dict>
						<key>Nodes</key>
						<array/>
						<key>Definitions</key>
						<dict/>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>userInterface</string>
			<key>Name</key>
			<string>Interface:</string>
			<key>Description</key>
			<string>The type of user interface.</string>
			<key>Values</key>
			<array>
				<string>SwiftUI</string>
				<string>Storyboard</string>
			</array>
			<key>Default</key>
			<string>SwiftUI</string>
			<key>Type</key>
			<string>popup</string>
		</dict>
	</array>
	<key>Image</key>
	<dict>
		<key>BundleImageName</key>
		<string>app</string>
		<key>BundleIdentifier</key>
		<string>com.apple.dt.IDEKit</string>
	</dict>
</dict>
</plist>
